<h1>Deals</h1>

<ol>
	
<% @deals["deals"].each	do |deal| %>

	
	<% if deal["dealTypes"].blank? %>
	
	<% elsif @type.index(deal["dealTypes"][0]["name"]) %>
	
	<% @d = Choice.new( name: deal["merchant"]["name"], type: deal["dealTypes"][0]["name"], 
					highlight: deal["highlightsHtml"], title: deal["title"] )%>
	<% @d.save%>
					
	<li><p><strong><%=link_to deal["title"], deal["dealUrl"]%></strong></p></li>
	<p>Name: <%= deal["merchant"]["name"] %> </p>
	<p>Type: <%= deal["dealTypes"][0]["name"] %></p>
	<p>More: <%= deal["highlightsHtml"]%></p>
	<%= image_tag deal["mediumImageUrl"]%>
	<br><br>
	<%end%>
	
<%end%>
</ol>


