<h1>Mother's Day GroupOn Deals</h1>

<h2>Enter info below</h2>


<%= form_for @location do |f| %>
<table>
	<tr>
		<th><%= f.label :lat %></th>
		<td><%= f.text_field(:lat) %></td>
	</tr>
	<tr>
		<th><%= f.label :lng%></th>
		<td><%= f.text_field(:lng) %></td>
	</tr>
	<tr><td><%= f.submit "Enter Location" %></td></tr>

</table>

<% end %>