
<%= form_for @location do |f| %>
<table>
	<tr>
		<th><%= f.label :lat %></th>
		<td><%= f.text_field(:lat) %></td>
	</tr>
	<tr>
		<th><%= f.label :lng%></th>
		<td><%= f.text_field(:lng) %></td>
	</tr>


</table>
<p><%= f.submit %></p>
<% end %>